<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Editar Usuário - Vendora</title>
</head>

<body>

    <h1>Editar Usuário</h1>

    <form action="{{ url_for('editarusuario', id=usuario.id) }}" method="POST">

        <label>Nome:</label>
        <input
            type="text"
            name="nome"
            value="{{ usuario.nome }}"
            required
        >

        <br><br>

        <label>E-mail:</label>
        <input
            type="email"
            name="email"
            value="{{ usuario.email }}"
            required
        >

        <br><br>

        <label>Senha:</label>
        <input
            type="password"
            name="senha"
            value="{{ usuario.senha }}"
            required
        >

        <br><br>

        <h2>Endereço</h2>

        <label>Rua:</label>
        <input
            type="text"
            name="rua"
            value="{{ endereco.rua if endereco else '' }}"
        >

        <br><br>

        <label>Número:</label>
        <input
            type="text"
            name="numero"
            value="{{ endereco.numero if endereco else '' }}"
        >

        <br><br>

        <label>Bairro:</label>
        <input
            type="text"
            name="bairro"
            value="{{ endereco.bairro if endereco else '' }}"
        >

        <br><br>

        <label>Cidade:</label>
        <input
            type="text"
            name="cidade"
            value="{{ endereco.cidade if endereco else '' }}"
        >

        <br><br>

        <label>CEP:</label>
        <input
            type="text"
            name="cep"
            value="{{ endereco.cep if endereco else '' }}"
        >

        <br><br>

        <button type="submit" onclick="return confirm('Tem certeza que deseja salvar as alterações?');"> Salvar alterações</button>

    </form>

    <br>

    <a href="{{ url_for('usuario') }}" onclick="return confirm('Tem certeza que deseja cancelar as alterações?');"><button type="button">Cancelar</button></a>
        
    </a>

    
</body>

</html>