<!doctype html>
<html>

<head>
    <title>Vendora</title>
</head>

<body>

    <h1>Vendora</h1>

    <h3>Plataforma de compra e venda de produtos</h3>

    <hr>

    <h3>Menu de Navegação</h3>

    <h4>Principal</h4>

    <p>
        <a href="{{ url_for('index') }}">
            Home
        </a>
    </p>

    <h4>Usuário</h4>

    <p>
        <a href="{{ url_for('usuario') }}">
            Cadastro
        </a>
    </p>

    <h4>Anúncios</h4>

    <p>
        <a href="{{ url_for('anuncio') }}">
            Anúncios
        </a>
    </p>

    <p>
        <a href="{{ url_for('categoria') }}">
            Categorias
        </a>
    </p>

    <h4>Interação</h4>

    <p>
        <a href="{{ url_for('pergunta') }}">
            Perguntas
        </a>
    </p>

    <p>
        <a href="{{ url_for('resposta') }}">
            Respostas
        </a>
    </p>

    <p>
        <a href="{{ url_for('favorita') }}">
            Meus Favoritos
        </a>
    </p>

    <h4>Compras</h4>

    <p>
        <a href="{{ url_for('compra') }}">
            Compras
        </a>
    </p>

</body>

</html>